.options {
  height: 10%;
  width: 100%;
}
.mat-row:hover {
  background-color: firebrick;
}
.example-container {
  height: 90%;
  width: 100%;
  overflow: auto;
}

table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}

.highlight {
  background-color: indianred;
}
