#loginToolbar {
  background-color: indianred;
  color: white;
  /*font-family: Georgia, serif;*/
}

.options {
  height: 10%;
  width: 100%;
}

a:hover {
  color: white;
  text-decoration: none;
}

.spacer {
  flex: 1 1 auto;
}

.mat-row:hover {
  background-color: firebrick;
}
.example-container {
  height: 90%;
  width: 100%;
  overflow: auto;
}

table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}

.highlight {
  background-color: indianred;
}

.mainContainer {
  height : 93vh;
  width: 100vw;
}

.menuBar {
  height: 7vh;
  width: 100vw;
  background-color: indianred;
}
